.dialog-wrapper {
	align-items: center;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;

	&.modal:after {
		background: #fff;
		bottom: 0;
		content: '';
		left: 0;
		opacity: .75;
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
	}

	.dialog {
		background: #fff;
		border: 1px solid var(--color-primary);
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		position: fixed;
		margin: auto;
		min-width: 200px;

		> .title {
			background: var(--color-primary);
			color: var(--color-primary-text);
			height: 2em;
			padding: .5em;
		}
		> .body {
			flex: 1;
			padding: .5em;
		}
		> .buttons {
			align-items: center;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			padding: .25em;

			> button, > .button {
				margin: 0 .1em;
			}
		}

		&.prompt > .body {
			display: flex;
			flex-direction: column;

			> .text {
				max-width: 300px;
				padding: .5rem;
			}
		}
	}
}
