@import '~@/styles/palette';

$navigation-width: 150px;
$page-width: calc(100vw - #{$navigation-width});

.wiki.layout {
  background: $color-bg;
  background: var(--color-background);
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  max-height: 100vh;
  max-width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
  width: 100vw;

  > .content {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100%;
    width: 100%;

    > .navigation {
      width: $navigation-width;
    }
    > .page {
      flex: 1;
      max-height: calc(100vh - 44px);
      width: 100%;
    }
    > .navigation ~ .page {
      width: $page-width;
    }
  }
}
