@import '~@/styles/layout';
@import '~@/styles/palette';

.wiki.layout {
  background: $color-bg;
  background: var(--color-background);
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  max-height: 100vh;
  max-width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
  width: 100vw;

  > .header {
    .navigation.toggle {
      background: inherit;
      border-bottom-width: 2px;
      border: 1px solid transparent;
      color: inherit;
      cursor: pointer;
      display: none;
      margin-bottom: -4px;
      margin-left: .5rem;
      padding: .5rem;
    }
  }
  > .content {
    display: flex;
    flex-direction: row;
    flex: 1;
    position: relative;
    height: 100%;
    width: 100%;

    > .navigation {
      max-height: calc(100vh - 40px);
      max-width: $navigation-width;
      width: $navigation-width;
      z-index: 1;
    }
    > .page {
      flex: 1;
      max-height: calc(100vh - 40px);
      width: 100%;
    }
    > .navigation ~ .page {
      width: $page-width;
    }
  }

  &.small {
    font-size: 10pt;

    > .header {
      > .logo {
        min-width: auto;

        > .nerd, > .rage { display: none; }
      }
      > .navigation.toggle {
        display: flex;
      }
    }

    &.collapse-navigation {
      > .content > .navigation {
        display: none;
      }
    }
    &.expand-navigation {
      > .header > .navigation.toggle {
        background: var(--color-background);
        border-bottom-color: var(--color-background);
        box-shadow: 5px 0 5px #33333355;
        color: var(--color-primary);
        margin-bottom: -6px;
      }
      > .content > .navigation {
        bottom: 0;
        box-shadow: 3px 5px 5px #33333355;
        left: 0;
        position: absolute !important;
        top: 0;
        width: 85%;
        z-index: 5;
      }
    }

    button {
      font-size: 10pt;
    }
  }

  &.no-campaign {
    > .header {
      justify-content: flex-end;

      > .logo { flex: 1; }
      > .navigation.toggle, > .search-box {
        display: none;
      }
    }
  }
}
