.theme-editor {
  &.lightbox > .title {
    margin-bottom: 5px;
  }

  > .input-wrapper {
    > label {
      font-weight: normal;
      padding: .5rem;
      text-align: right;
      width: 85px;
    }
    > .search-box, > .display {
      margin: 0;
    }

    .swatch {
      border: none;
      font-weight: bold;
    }
    .primary > .swatch {
      color: var(--color-primary-text);
    }

    &.font-for-titles > label {
      font-size: 1rem;
      font-weight: bold;
    }
  }
}
