.tag-bar {
  display: block;
  min-height: 40px;
  padding: 2px;

  > div, > div > div {
    align-items: center;
    display: flex;
    justify-items: flex-start;
  }

  &.readOnly {
    background: transparent;
  }

  .tag-bar-input {
    background: inherit;
    border: none;
    margin: 0 5px;
    width: 100px;
  }
}
