@import '~@/styles/mixins/dropshadow';
@import '~@/styles/palette';

.tab-set > .tabs.wysiwyg ~ .tab-contents {
	padding: 0;
	overflow: inherit;
}

.wysiwyg-editor {
	display: flex;
	flex-direction: column;
	height: 100%;

	> .jodit-container {
		display: flex;
		flex: 1;
		flex-direction: column;

		> .jodit-workplace {
			flex: 1;
		}
	}
}
