
.icon-axis:before { content: '\e800'; } /* '' */
.icon-d10:before { content: '\e801'; } /* '' */
.icon-sheet:before { content: '\e802'; } /* '' */
.icon-backpack:before { content: '\e803'; } /* '' */
.icon-weapon:before { content: '\e804'; } /* '' */
.icon-armor:before { content: '\e805'; } /* '' */
.icon-currency:before { content: '\e806'; } /* '' */
.icon-add:before { content: '\e807'; } /* '' */
.icon-remove:before { content: '\e808'; } /* '' */
.icon-heart-empty:before { content: '\e809'; } /* '' */
.icon-save:before { content: '\e80a'; } /* '' */
.icon-redo:before { content: '\e80b'; } /* '' */
.icon-picture:before { content: '\e80c'; } /* '' */
.icon-info:before { content: '\e80d'; } /* '' */
.icon-warning:before { content: '\e80e'; } /* '' */
.icon-search:before { content: '\e80f'; } /* '' */
.icon-favorite-off:before { content: '\e810'; } /* '' */
.icon-favorite-on:before { content: '\e811'; } /* '' */
.icon-edit:before { content: '\e812'; } /* '' */
.icon-settings:before { content: '\e813'; } /* '' */
.icon-read:before { content: '\e815'; } /* '' */
.icon-tag:before { content: '\e816'; } /* '' */
.icon-tags:before { content: '\e817'; } /* '' */
.icon-logout:before { content: '\e818'; } /* '' */
.icon-undo:before { content: '\e819'; } /* '' */
.icon-health:before { content: '\e901'; } /* '' */
.icon-danger:before { content: '\e902'; } /* '' */
.icon-collapsed:before { content: '\e903'; } /* '' */
.icon-expanded:before { content: '\e904'; } /* '' */
.icon-link-external:before { content: '\f08e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-categorize:before { content: '\f0e8'; } /* '' */
.icon-html:before { content: '\f121'; } /* '' */
.icon-sort-name-asc:before { content: '\f15d'; } /* '' */
.icon-sort-name-desc:before { content: '\f15e'; } /* '' */
.icon-sort-size-asc:before { content: '\f160'; } /* '' */
.icon-sort-size-desc:before { content: '\f161'; } /* '' */
.icon-sort-value-asc:before { content: '\f162'; } /* '' */
.icon-sort-value-desc:before { content: '\f163'; } /* '' */