@import 'palette';

* { box-sizing: border-box; }

@import 'mixins/dropshadow';
@import 'mixins/ellipsis';
@import 'mixins/glow';
@import 'mixins/gradient';
@import 'html';
@import 'body';
@import 'a';
@import 'button';
@import 'fieldset';
@import 'hr';
@import 'input';
@import 'svg';
@import 'classes/callout';
@import 'classes/danger';
@import 'classes/dropshadow';
@import 'classes/ellipsis';
@import 'classes/hidden';
@import 'classes/highlight';
@import 'classes/info-box';
@import 'classes/inset';
@import 'classes/lightbox';
@import 'classes/loading';
@import 'classes/row';

:root {
  // Colors by name
  --palette-beige:       #{$palette-beige};
  --palette-blue-light:  #{$palette-blue-light};
  --palette-blue-royal:  #{$palette-blue-royal};
  --palette-blue:        #{$palette-blue};
  --palette-gold-dark:   #{$palette-gold-dark};
  --palette-gold:        #{$palette-gold};
  --palette-gray-dark:   #{$palette-gray-dark};
  --palette-gray-light:  #{$palette-gray-light};
  --palette-gray-medium: #{$palette-gray-medium};
  --palette-green:       #{$palette-green};
  --palette-offwhite:    #{$palette-offwhite};
  --palette-orange:      #{$palette-orange};
  --palette-red:         #{$palette-red};
  --palette-white:       #{$palette-white};

  --color-bg-button:     #{$color-bg-button};
  --color-bg-inverse:    #{$color-bg-inverse};
  --color-bg-modal:      #{$color-bg-modal};
  --color-bg-warning:    #{$color-bg-warning};
  --color-bg:            #{$color-bg};
  --color-book:          #{$color-book};
  --color-border:        #{$color-border};
  --color-combo:         #{$color-combo};
  --color-danger-bg:     #{$color-danger-bg};
  --color-danger-text:   #{$color-danger-text};
  --color-danger:        #{$color-danger};
  --color-highlight:     #{$color-highlight};
  --color-info:          #{$color-info};
  --color-link-missing:  #{$color-link-missing};
  --color-link:          #{$color-link};
  --color-shadow:        #{$color-shadow};
  --color-success:       #{$color-success};
  --color-system:        #{$color-system};
  --color-table-bg-even: #{$color-table-bg-even};
  --color-table-bg-odds: #{$color-table-bg-odds};
  --color-text-inverse:  #{$color-text-inverse};
  --color-text:          #{$color-text};
  --color-warning:       #{$color-warning};
}
