@import '~@/styles/palette';

.user-menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: .5rem;

  > a {
    color: var(--color-secondary);
    font-size: .8rem;
    padding: .5rem;
  }
}
