@import '~@/styles/palette';
@import './page';

.article.page {
  display: flex;
  flex-direction: column;

  > .tab-set {
    > .tab-contents {
      padding: 0;

      > p { // Loading component
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: center;
      }
    }

    > .tab-contents.read {
      padding: .5rem;

      .jsx-parser {
        &.no-child-articles:empty {
          min-height: 50px;
          position: relative;

          &:before {
            content: 'This article has not yet been written.';
            display: flex;
            align-items: center;
            justify-content: center;
            font-style: italic;
            height: 50px;
            left: 0;
            opacity: .25;
            position: absolute;
            text-shadow: 1px 1px 1px #00000066;
            top: 0;
            width: 100%;
          }
        }
      }
    }
    > .tabs.html {
      > .tab.html.is-active {
        background-color: #fff;
        border-bottom-color: #fff;
      }
    }
  }

  .tag-bar.tags {
    border-top: 1px solid var(--color-primary);

    &:not(.readOnly) {
      background: $color-bg-button;
      box-shadow: 0 3px 3px $color-shadow inset;
      padding-top: 3px;
    }
  }
}
