@import '~@/styles/palette';

.article.page {
  display: flex;
  flex-direction: column;

  > .title {
    align-items: center;
    border-bottom: 1px solid;
    border-bottom-color: $color-border;
    border-bottom-color: var(--color-primary);
    display: flex;
    font-size: 2em;
    font-weight: bold;
    justify-content: flex-start;
    padding: 10px;
  }

  > .tab-set {
    .tab-contents { padding: 0; }

    > .tabs.read ~ .tab-contents { padding: .5rem; }
    > .tabs.html {
      > .tab.html.is-active {
        background-color: #fff;
        border-bottom-color: #fff;
      }
    }
  }
}
