@import '~@/styles/palette';

.article.page {
  display: flex;
  flex-direction: column;

  > .title {
    align-items: center;
    border-bottom: 1px solid;
    border-bottom-color: $color-border;
    border-bottom-color: var(--color-primary);
    display: flex;
    font-size: 2em;
    font-weight: bold;
    justify-content: flex-start;
    margin: 0;
    min-height: 40px;
    padding: 10px;
  }

  > .tab-set {
    .tab-contents {
      &:not(.read) { padding: 0; }
      > p { // Loading component
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: center;
      }
    }

    > .tabs.read ~ .tab-contents { padding: .5rem; }
    > .tabs.html {
      > .tab.html.is-active {
        background-color: #fff;
        border-bottom-color: #fff;
      }
    }
  }
}
