@import './page';

.login.page {
  > .container {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: auto;

    > .buttons {
      display: flex;
      flex-direction: row;
      padding: .25rem;
      justify-content: flex-end;
    }
  }
}
