@import '~@/styles/palette';
@import './page';

.sheet.page {
  display: flex;
  flex-direction: column;

  > .title-bar {
    align-items: center;
    border-bottom: 1px solid;
    border-bottom-color: $color-border;
    border-bottom-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    padding: .25rem;

    > .title {
      align-items: center;
      display: flex;
      flex: 1;
      font-size: 2em;
      font-weight: bold;
      justify-content: flex-start;
      margin: 0;
      min-height: 40px;
      padding: 10px;
    }
    > button {
      margin: .25rem;
    }
  }

  > .sheet-container {
    flex: 1;
    overflow-y: auto;
    padding: 5px;

    .sheetforge.sheet {
      margin: 0;

      button { box-shadow: none; }
      .toggle.on { color: inherit; }
      .toggle.off { color: inherit; }
    }

    &.readOnly .sheetforge.sheet {
      button { display: none; }
      .drag-handle { display: none; }
      .editable {
        background: transparent;
        border: transparent;
        pointer-events: none;
      }
    }
  }
}

.layout.small .sheet.page {
  > .title-bar > .title {
    font-size: 1em;
  }
}
