@import '~@/styles/palette';
@import './page';

.sheet.page {
  display: flex;
  flex-direction: column;

  > .title-bar {
    align-items: center;
    border-bottom: 1px solid;
    border-bottom-color: $color-border;
    border-bottom-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    padding: .25rem .5rem .25rem .25rem;

    > .title {
      align-items: center;
      display: flex;
      flex: 1;
      font-size: 2em;
      font-weight: bold;
      justify-content: flex-start;
      margin: 0;
      min-height: 40px;
      padding: 10px;
    }
  }

  > .sheet-container {
    flex: 1;
    overflow-y: auto;

    > .sheetforge.sheet {
      margin: 0;

      button {
        box-shadow: none;
      }
      .toggle.on {
        color: inherit;
      }
      .toggle.off {
        color: inherit;
      }
    }
  }
}
