@import '~@/styles/palette';
@import './page';

.user.page {
  > .title-bar {
    .is-admin.toggle { padding: 0; }
  }
  > .user-info {
    columns: 2;

    .row {
      > b { width: 150px; }
    }
  }

  .favorites.icon {
    color: $palette-gold;
    stroke: $palette-gold-dark;
    stroke-width: 3px;
  }
}

.layout.small, .layout.medium {
  .user.page {
    .user-info { columns: 1; }
  }
}
