@import '~@/styles/mixins/ellipsis';

.campaign.search-box {
	.search-result {
		@include ellipsis;

		display: flex;
		align-items: center;

		> svg {
			height: 1rem;
			margin-right: 0.25rem;
			width: 1rem;
		}
	}
}
