.search-box {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 5px;
  position: relative; }
  .search-box > .search.icon {
    fill: #ccc;
    position: absolute;
    left: .75rem; }
  .search-box:focus-within > .search.icon {
    fill: currentColor; }
  .search-box > .input {
    flex: 1;
    padding: .25rem .25rem .25rem 1.75rem;
    width: 100%; }
  .search-box > .search-results {
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid var(--color-primary);
    box-shadow: 3px 3px 3px #33333333;
    left: 0;
    line-height: 1.5rem;
    list-style: none;
    margin: -3px 8px;
    padding: .1rem;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 5; }
    .search-box > .search-results > .search-result {
      padding: .15rem; }
      .search-box > .search-results > .search-result[aria-selected="true"] {
        background: var(--color-system); }
      .search-box > .search-results > .search-result > .preview {
        font-size: .8rem; }

.flyout.menu {
  background: inherit;
  border: 1px solid transparent;
  color: inherit;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;
  position: relative; }
  .flyout.menu.open {
    z-index: 100; }
    .flyout.menu.open > .menu-toggler {
      border: solid #00000033;
      border-radius: 5px 5px 0 0;
      border-width: 1px 1px 0 1px; }
    .flyout.menu.open > .menu-toggler:before, .flyout.menu.open > .flyout-panel:before {
      background-color: #ffffff22;
      bottom: 0;
      content: '';
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0; }
  .flyout.menu > .menu-toggler {
    align-items: center;
    background: inherit;
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: .5rem;
    position: relative;
    z-index: 1; }
  .flyout.menu > .flyout-panel {
    background: inherit;
    border: 1px solid #00000033;
    border-radius: 5px 0 5px 5px;
    box-shadow: 0px 3px 3px rgba(169, 175, 185, 0.75);
    display: flex;
    flex-direction: column;
    margin-top: -1px;
    min-width: 150px;
    overflow: hidden;
    padding: .5em;
    position: absolute;
    right: 0;
    top: 100%; }
    .flyout.menu > .flyout-panel > hr {
      border-bottom: 1px solid #ffffff33;
      border-top: 1px solid #00000033;
      margin: .25rem 0; }
    .flyout.menu > .flyout-panel .menu-item {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: .25rem; }
      .flyout.menu > .flyout-panel .menu-item > svg:first-child {
        margin-right: .5rem; }
      .flyout.menu > .flyout-panel .menu-item.clickable {
        cursor: pointer; }
        .flyout.menu > .flyout-panel .menu-item.clickable:hover {
          background: #ffffff33; }

.dialog-wrapper {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100; }
  .dialog-wrapper.modal:after {
    background: #fff;
    bottom: 0;
    content: '';
    left: 0;
    opacity: .75;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1; }
  .dialog-wrapper .dialog {
    background: #fff;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    margin: auto;
    min-width: 200px; }
    .dialog-wrapper .dialog > .title {
      background: var(--color-primary);
      color: var(--color-secondary);
      height: 2em;
      padding: .5em; }
    .dialog-wrapper .dialog > .body {
      flex: 1;
      padding: .5em; }
    .dialog-wrapper .dialog > .buttons {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: .25em; }
      .dialog-wrapper .dialog > .buttons > button, .dialog-wrapper .dialog > .buttons > .button {
        margin: 0 .1em; }

.prompt.dialog > .body {
  display: flex;
  flex-direction: column; }
  .prompt.dialog > .body > .text {
    max-width: 3000px;
    padding: .5rem; }
  .prompt.dialog > .body > .input {
    display: flex;
    flex-direction: row; }
    .prompt.dialog > .body > .input > input {
      flex: 1; }

.create.menu > .flyout-panel > hr:first-child {
  display: none; }

.user-menu {
  align-items: center;
  background: inherit;
  color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: .5rem; }
  .user-menu > * {
    padding: .5rem; }
  .user-menu > .divider {
    border-left: 1px solid;
    height: 40px;
    margin: 0 8px;
    opacity: .6;
    padding: 0; }
  .user-menu .username {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .user-menu .username > span {
      font-size: .6rem;
      opacity: .7; }
  .user-menu a {
    color: var(--color-secondary);
    font-size: .8rem;
    font-weight: bold; }

.header {
  align-items: center;
  background-color: white;
  background-color: var(--color-primary);
  border-bottom: 1px outset;
  box-shadow: 0px 2px 5px rgba(211, 214, 219, 0.75);
  box-shadow: 0px 2px 5px var(--color-shadow);
  color: black;
  color: var(--color-secondary);
  display: flex;
  justify-content: flex-start;
  min-height: 40px;
  width: 100%; }
  .header > .logo {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    min-width: 150px; }
    .header > .logo > .nerd, .header > .logo > .rage {
      font-size: 1.4em;
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8), -1px 1px 0 rgba(255, 255, 255, 0.8), 1px -1px 0 rgba(255, 255, 255, 0.8), -1px -1px 0 rgba(255, 255, 255, 0.8), 1px 1px 3px #666, -1px 1px 3px #666, 1px -1px 3px #666, -1px -1px 3px #666; }
    .header > .logo .nerd {
      color: #000; }
    .header > .logo .rage {
      color: #f00; }
  .header > .navigation.toggle {
    order: 0; }
  .header > .search-box {
    order: 1; }
    .header > .search-box:focus-within ~ * {
      display: none; }
  .header > .user-menu {
    order: 2; }

.navigation {
  background: var(--color-background);
  border-right: 1px solid #42afe3;
  border-right: 1px solid var(--color-primary);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 5px; }
  .navigation > ul {
    list-style: none;
    margin: .25rem;
    padding: .25rem;
    margin-bottom: .5rem;
    padding-left: .75rem; }
    .navigation > ul > li {
      padding: .1rem; }

.wiki.layout {
  background: #f6f6f6;
  background: var(--color-background);
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  max-height: 100vh;
  max-width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
  width: 100vw; }
  .wiki.layout > .header .navigation.toggle {
    background: inherit;
    border-bottom-width: 2px;
    border: 1px solid transparent;
    color: inherit;
    cursor: pointer;
    display: none;
    margin-bottom: -4px;
    margin-left: .5rem;
    padding: .5rem; }
  .wiki.layout > .content {
    display: flex;
    flex-direction: row;
    flex: 1;
    position: relative;
    height: 100%;
    width: 100%; }
    .wiki.layout > .content > .navigation {
      width: 150px;
      z-index: 1; }
    .wiki.layout > .content > .page {
      flex: 1;
      max-height: calc(100vh - 44px);
      width: 100%; }
    .wiki.layout > .content > .navigation ~ .page {
      width: calc(100vw - 150px); }
  .wiki.layout.small {
    font-size: 10pt; }
    .wiki.layout.small > .header > .logo {
      min-width: auto; }
      .wiki.layout.small > .header > .logo > .nerd, .wiki.layout.small > .header > .logo > .rage {
        display: none; }
    .wiki.layout.small > .header > .navigation.toggle {
      display: flex; }
    .wiki.layout.small.collapse-navigation > .content > .navigation {
      display: none; }
    .wiki.layout.small.expand-navigation > .header > .navigation.toggle {
      background: var(--color-background);
      border-bottom-color: var(--color-background);
      box-shadow: 3px 10px 10px #00000055;
      color: var(--color-primary);
      margin-bottom: -6px; }
    .wiki.layout.small.expand-navigation .content > .navigation {
      bottom: 0;
      box-shadow: 3px 10px 10px #00000055;
      left: 0;
      position: absolute;
      top: 0;
      width: 85%;
      z-index: 5; }
    .wiki.layout.small button {
      font-size: 10pt; }
  .wiki.layout.no-campaign > .header {
    justify-content: flex-end; }
    .wiki.layout.no-campaign > .header > .logo {
      flex: 1; }
    .wiki.layout.no-campaign > .header > .navigation.toggle, .wiki.layout.no-campaign > .header > .search-box {
      display: none; }

.error.page {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center; }
  .error.page > .status-code {
    border-right: 2px solid;
    margin: 0 .5em 0 0;
    padding: 0 .5em 0 0; }

* {
  box-sizing: border-box; }

html {
  overflow: hidden; }

body {
  font-family: Arial, Calibri, sans-serif;
  font-family: var(--font-primary);
  margin: 0;
  padding: 0; }

a {
  color: #08f;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a.missing {
    color: #c44; }

button {
  border: 1px outset #66666655;
  border-radius: .25rem;
  box-shadow: 0 0 0 1px #66666655;
  cursor: pointer;
  padding: .25rem .4rem; }
  button:not(.link) {
    background: #ffffff55;
    background: -webkit-linear-gradient(top, #ffffff55 0%, #ffffff55 20%, #ffffff00 80%, #ffffff00 100%);
    background: linear-gradient(to bottom, #ffffff55 0%, #ffffff55 20%, #ffffff00 80%, #ffffff00 100%); }
  button:focus {
    box-shadow: 0 0 0 3px rgba(226, 251, 251, 0.5); }
  button.danger {
    background-color: #c44;
    color: white; }
  button.safe {
    background-color: #97cd76;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px gray; }
  button.link {
    border: none;
    box-shadow: none; }

fieldset {
  border-style: solid; }
  fieldset > legend {
    font-weight: bold; }

hr {
  border-color: var(--color-primary);
  border-style: solid;
  border-width: 1px 0 0 0;
  margin: .5rem 0; }

input, textarea {
  border-radius: 5px;
  border: 1px solid rgba(1, 1, 1, 0.25);
  flex: 1;
  outline: none;
  margin: .25rem;
  padding: .25rem; }
  input:focus, textarea:focus {
    border: 1px inset; }

svg {
  fill: currentColor;
  height: 1rem;
  shape-rendering: geometricPrecision;
  width: 1rem; }
  svg.x2 {
    height: 2rem;
    width: 2rem; }

.danger {
  border-color: #d76c6c;
  color: #c44; }

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  .row > * {
    margin: .25rem; }

:root {
  --palette-beige:       #fdf5e6;
  --palette-blue-light:  #e2fbfb;
  --palette-blue-royal:  #08f;
  --palette-blue:        #42afe3;
  --palette-gold-dark:   #998100;
  --palette-gold:        #ffd700;
  --palette-gray-dark:   #333;
  --palette-gray-light:  #d3d6db;
  --palette-gray-medium: #999;
  --palette-green:       #97cd76;
  --palette-offwhite:    #f6f6f6;
  --palette-orange:      #e8720c;
  --palette-red:         #c44;
  --palette-white:       #fff;
  --color-bg-button:     #e9e9e9;
  --color-bg-inverse:    #42afe3;
  --color-bg-modal:      rgba(246, 246, 246, 0.75);
  --color-bg-warning:    #ffd700;
  --color-bg:            #f6f6f6;
  --color-book:          #e2fbfb;
  --color-border:        #42afe3;
  --color-combo:         #deefd3;
  --color-danger-bg:     #d76c6c;
  --color-danger-text:   white;
  --color-danger:        #c44;
  --color-highlight:     rgba(226, 251, 251, 0.5);
  --color-info:          #e2fbfb;
  --color-link-missing:  #c44;
  --color-link:          #08f;
  --color-shadow:        rgba(211, 214, 219, 0.75);
  --color-success:       #97cd76;
  --color-system:        #fdf5e6;
  --color-table-bg-even: #fff;
  --color-table-bg-odds: #f6f6f6;
  --color-text-inverse:  #f6f6f6;
  --color-text:          #333;
  --color-warning:       #998100; }


/*# sourceMappingURL=styles.chunk.css.map*/