.dialog-wrapper {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100; }
  .dialog-wrapper.modal:after {
    background: #fff;
    bottom: 0;
    content: '';
    left: 0;
    opacity: .75;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1; }
  .dialog-wrapper .dialog {
    background: #fff;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    margin: auto;
    min-width: 200px; }
    .dialog-wrapper .dialog > .title {
      background: var(--color-primary);
      color: var(--color-primary-text);
      height: 2em;
      padding: .5em; }
    .dialog-wrapper .dialog > .body {
      flex: 1;
      padding: .5em; }
    .dialog-wrapper .dialog > .buttons {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: .25em; }
      .dialog-wrapper .dialog > .buttons > button, .dialog-wrapper .dialog > .buttons > .button {
        margin: 0 .1em; }

.prompt.dialog > .body {
  display: flex;
  flex-direction: column; }
  .prompt.dialog > .body > .text {
    max-width: 300px;
    padding: .5rem; }

.navigation {
  background: var(--color-background);
  border-right: 1px solid #42afe3;
  border-right: 1px solid var(--color-primary);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: auto; }
  .navigation > .link-sections > div > .content {
    padding: 8px;
    width: 175px; }
    .navigation > .link-sections > div > .content > .active {
      align-items: center;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      padding: .1rem;
      text-overflow: ellipsis;
      white-space: nowrap; }
      .navigation > .link-sections > div > .content > .active > svg {
        margin-right: .25rem;
        order: 1; }
    .navigation > .link-sections > div > .content .list-title {
      align-items: center;
      display: flex;
      justify-content: flex-start; }
      .navigation > .link-sections > div > .content .list-title > svg {
        margin-right: .25rem;
        margin-left: -.35rem; }
    .navigation > .link-sections > div > .content > .campaign-nav > ul, .navigation > .link-sections > div > .content > ul {
      list-style: none;
      margin: 0;
      padding: .1rem 0 1rem .75rem; }
    .navigation > .link-sections > div > .content li {
      overflow: hidden;
      padding: .1rem;
      position: relative;
      text-overflow: ellipsis;
      white-space: nowrap; }
      .navigation > .link-sections > div > .content li.section {
        margin-left: -.75rem; }
      .navigation > .link-sections > div > .content li > .controls {
        background: #ffffff;
        display: none;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0; }
        .navigation > .link-sections > div > .content li > .controls > .delete, .navigation > .link-sections > div > .content li > .controls > .edit {
          cursor: pointer;
          margin: 0 .25rem; }
        .navigation > .link-sections > div > .content li > .controls > .delete {
          color: var(--color-danger); }
      .navigation > .link-sections > div > .content li:hover > .controls {
        align-items: center;
        display: flex;
        justify-content: center; }
  .navigation > .footer {
    padding: 5px;
    text-align: center; }
    .navigation > .footer > .buttons {
      margin: 5px 0; }
    .navigation > .footer > .add {
      margin: 5px;
      max-width: calc(100% - 10px); }

.layout.small .navigation > .link-sections > div > .content li .controls {
  display: none; }

.editable {
  box-sizing: border-box;
  color: inherit;
  display: block;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  min-height: 30px;
  min-width: 40px;
  position: relative; }
  .editable:not(.readonly) > div, .editable:not(.readonly) > p, .editable:not(.readonly) > span {
    cursor: pointer; }
  .editable > div, .editable > span, .editable > input, .editable > textarea {
    align-items: inherit;
    border: none;
    color: inherit;
    display: flex;
    flex: 1;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    height: 100%;
    max-height: 100%;
    justify-content: inherit;
    line-height: inherit;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: .25em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: inherit;
    width: 100%;
    min-width: 40px; }
  .editable > div.multiline, .editable > textarea {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left; }
    .editable > div.multiline > p, .editable > textarea > p {
      margin: 0 0 .5rem 0;
      padding: 0; }
  .editable .placeholder {
    color: rgba(200, 200, 200, 0.8);
    font-style: italic; }
  .editable > input, .editable > textarea {
    -webkit-input-placeholder: rgba(200, 200, 200, 0.8);
    -moz-placeholder: rgba(200, 200, 200, 0.8);
    -moz-placeholder: rgba(200, 200, 200, 0.8);
    -ms-input-placeholder: rgba(200, 200, 200, 0.8); }
  .editable:focus-within {
    outline: -webkit-focus-ring-color auto 1px; }
  .editable input[type="checkbox"] {
    height: 1em;
    min-width: auto;
    width: 1em;
    margin: auto; }

.editable-list {
  cursor: pointer;
  padding: .25em; }
  .editable-list:not(:focus) {
    background: transparent;
    border-color: transparent;
    color: inherit; }

.search-box {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 5px;
  position: relative; }
  .search-box > .search.icon {
    fill: #ccc;
    position: absolute;
    left: .75rem; }
  .search-box:focus-within > .search.icon {
    fill: currentColor; }
  .search-box > .input {
    flex: 1;
    padding: .25rem .25rem .25rem 1.75rem;
    width: 100%; }
  .search-box.open > input {
    border: 1px solid #00000044;
    border-radius: 5px 5px 0 0;
    box-shadow: 3px 3px 3px #33333333; }
  .search-box.open > .search-results {
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid #00000044;
    border-top-color: transparent;
    box-shadow: 3px 3px 3px #33333333;
    font-size: .8rem;
    left: 0;
    line-height: 1.5rem;
    list-style: none;
    margin: -5px 4px;
    padding: .25rem;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 5; }
    .search-box.open > .search-results > .search-result {
      cursor: pointer;
      padding: .15rem; }
      .search-box.open > .search-results > .search-result[aria-selected="true"] {
        background: var(--color-system); }
      .search-box.open > .search-results > .search-result > .preview {
        font-size: .8rem; }

.flyout.menu {
  background: inherit;
  border: 1px solid transparent;
  color: inherit;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;
  position: relative; }
  .flyout.menu.open {
    z-index: 100; }
    .flyout.menu.open > .menu-toggler {
      border: solid #00000033;
      border-radius: 5px 5px 0 0;
      border-width: 1px 1px 0 1px; }
    .flyout.menu.open > .menu-toggler:before, .flyout.menu.open > .flyout-panel:before {
      background-color: #ffffff22;
      bottom: 0;
      content: '';
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0; }
  .flyout.menu > .menu-toggler {
    align-items: center;
    background: inherit;
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: .5rem;
    position: relative;
    z-index: 1; }
  .flyout.menu > .flyout-panel {
    background: inherit;
    border: 1px solid #00000033;
    border-radius: 5px 0 5px 5px;
    box-shadow: 0px 3px 3px rgba(169, 175, 185, 0.75);
    display: flex;
    flex-direction: column;
    margin-top: -1px;
    min-width: 150px;
    overflow: hidden;
    padding: .5em;
    position: absolute;
    right: 0;
    top: 100%; }
    .flyout.menu > .flyout-panel > hr {
      border-bottom: 1px solid #ffffff33;
      border-top: 1px solid #00000033;
      margin: .25rem 0; }
    .flyout.menu > .flyout-panel .menu-item {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: .25rem;
      white-space: nowrap; }
      .flyout.menu > .flyout-panel .menu-item > svg:first-child {
        margin-right: .5rem; }
      .flyout.menu > .flyout-panel .menu-item.clickable {
        cursor: pointer; }
        .flyout.menu > .flyout-panel .menu-item.clickable:hover {
          background: #ffffff33; }

.create-link.dialog .input-wrapper label {
  min-width: 60px; }

.create.menu > .flyout-panel > hr:first-child {
  display: none; }

.user-menu {
  align-items: center;
  background: inherit;
  color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: .5rem; }
  .user-menu > * {
    padding: .5rem; }
  .user-menu > .divider {
    border-left: 1px solid;
    height: 40px;
    margin: 0 8px;
    opacity: .6;
    padding: 0; }
  .user-menu .username {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .user-menu .username > span {
      font-size: .6rem;
      opacity: .7; }
  .user-menu a {
    color: var(--color-primary-text);
    font-size: .8rem;
    font-weight: bold; }

.wiki.layout {
  background: #f6f6f6;
  background: var(--color-background);
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  max-height: 100vh;
  max-width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
  width: 100vw; }
  .wiki.layout > .header {
    align-items: center;
    background-color: white;
    background-color: var(--color-primary);
    border-bottom: 1px outset;
    box-shadow: 0px 2px 5px rgba(211, 214, 219, 0.75);
    box-shadow: 0px 2px 5px var(--color-shadow);
    color: black;
    color: var(--color-primary-text);
    display: flex;
    justify-content: flex-start;
    min-height: 40px;
    width: 100%; }
    .wiki.layout > .header .navigation.toggle {
      background: inherit;
      border-bottom-width: 2px;
      border: 1px solid transparent;
      color: inherit;
      cursor: pointer;
      display: none;
      margin-bottom: -4px;
      margin-left: .5rem;
      padding: .5rem; }
      .wiki.layout > .header .navigation.toggle * {
        pointer-events: none; }
    .wiki.layout > .header > .logo {
      align-items: center;
      box-sizing: border-box;
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      min-width: 150px; }
      .wiki.layout > .header > .logo > .nerd, .wiki.layout > .header > .logo > .rage {
        font-size: 1.4em;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8), -1px 1px 0 rgba(255, 255, 255, 0.8), 1px -1px 0 rgba(255, 255, 255, 0.8), -1px -1px 0 rgba(255, 255, 255, 0.8), 1px 1px 3px #666, -1px 1px 3px #666, 1px -1px 3px #666, -1px -1px 3px #666; }
      .wiki.layout > .header > .logo .nerd {
        color: #000; }
      .wiki.layout > .header > .logo .rage {
        color: #f00; }
    .wiki.layout > .header > .navigation.toggle {
      order: 0; }
    .wiki.layout > .header > .search-box {
      order: 1; }
      .wiki.layout > .header > .search-box:focus-within ~ * {
        display: none; }
    .wiki.layout > .header > .user-menu {
      order: 2; }
  .wiki.layout > .content {
    display: flex;
    flex-direction: row;
    flex: 1;
    position: relative;
    height: 100%;
    width: 100%; }
    .wiki.layout > .content > .navigation {
      max-height: calc(100vh - 40px);
      max-width: 175px;
      width: 175px;
      z-index: 1; }
    .wiki.layout > .content > .page {
      flex: 1;
      max-height: calc(100vh - 40px);
      width: 100%; }
    .wiki.layout > .content > .navigation ~ .page {
      width: calc(100vw - 175px); }
  .wiki.layout.small {
    font-size: 10pt; }
    .wiki.layout.small > .header > .logo {
      min-width: auto; }
      .wiki.layout.small > .header > .logo > .nerd, .wiki.layout.small > .header > .logo > .rage {
        display: none; }
    .wiki.layout.small > .header > .navigation.toggle {
      display: flex; }
    .wiki.layout.small.collapse-navigation > .content > .navigation {
      display: none; }
    .wiki.layout.small.expand-navigation > .header > .navigation.toggle {
      background: var(--color-background);
      border-bottom-color: var(--color-background);
      box-shadow: 5px 0 5px #33333355;
      color: var(--color-primary);
      margin-bottom: -6px; }
    .wiki.layout.small.expand-navigation > .content > .navigation {
      bottom: 0;
      box-shadow: 3px 5px 5px #33333355;
      left: 0;
      position: absolute !important;
      top: 0;
      width: 85%;
      z-index: 5; }
    .wiki.layout.small button {
      font-size: 10pt; }
  .wiki.layout.no-campaign > .header {
    justify-content: flex-end; }
    .wiki.layout.no-campaign > .header > .logo {
      flex: 1; }
    .wiki.layout.no-campaign > .header > .navigation.toggle, .wiki.layout.no-campaign > .header > .search-box {
      display: none; }

* {
  box-sizing: border-box; }

html {
  overflow: hidden; }

body {
  font-family: Arial, Calibri, sans-serif;
  font-family: var(--font-primary);
  margin: 0;
  padding: 0; }

a {
  color: #08f;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a.missing {
    color: #c44; }

blockquote {
  background: oldlace;
  border-color: #f5cf88;
  border-radius: 5px;
  border-style: solid;
  border-width: 0 0 0 4px;
  box-shadow: 3px 3px 3px #00000033;
  margin: 1rem 1.5rem;
  padding: .5rem .75rem;
  text-align: justify; }

button {
  border: 1px outset #66666655;
  border-radius: .25rem;
  box-shadow: 0 0 0 1px #66666655;
  cursor: pointer;
  padding: .25rem .4rem; }
  button:not(.link) {
    background: #ffffff55;
    background: -webkit-linear-gradient(top, #ffffff55 0%, #ffffff55 20%, #ffffff00 80%, #ffffff00 100%);
    background: linear-gradient(to bottom, #ffffff55 0%, #ffffff55 20%, #ffffff00 80%, #ffffff00 100%); }
  button:focus {
    box-shadow: 0 0 0 3px rgba(226, 251, 251, 0.5); }
  button.danger {
    background-color: #c44;
    color: white; }
  button.safe {
    background-color: #97cd76;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px gray; }
  button.link {
    border: none;
    box-shadow: none; }
  button[disabled], button.disabled {
    background-color: #eeeeee;
    color: #aaaaaa;
    text-shadow: none; }

fieldset {
  border: 1px solid currentColor;
  margin: 5px; }
  fieldset > legend {
    text-shadow: 2px 2px 3px #00000033;
    font-weight: bold; }

h1, h2, h3, h4, h5, h6 {
  border-bottom: 1px solid var(--color-primary);
  font-family: var(--font-for-titles);
  margin-bottom: .25rem;
  padding-bottom: .25rem; }

hr {
  border-color: var(--color-primary);
  border-style: solid;
  border-width: 1px 0 0 0;
  margin: .5rem 0; }

input, textarea {
  border-radius: 5px;
  border: 1px solid rgba(1, 1, 1, 0.25);
  flex: 1;
  outline: none;
  margin: .25rem;
  padding: .25rem; }
  input:focus, textarea:focus {
    border: 1px inset; }

label {
  font-size: .8rem; }

p {
  text-align: justify; }

select {
  background-color: #fff;
  border-radius: 5px;
  flex: 1;
  margin: .25rem;
  padding: .1rem; }

svg {
  fill: currentColor;
  height: 1rem;
  shape-rendering: geometricPrecision;
  width: 1rem; }
  svg.x2 {
    height: 2rem;
    width: 2rem; }

table {
  border: none;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 3px 3px 3px #00000033;
  padding: 0; }
  table th {
    color: var(--color-primary-text);
    font-family: var(--font-for-text);
    position: relative;
    z-index: 0; }
    table th:before {
      background: var(--color-primary);
      content: '';
      height: 100%;
      opacity: .7;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      z-index: -1; }
  table th, table td {
    border-color: #00000033;
    border-style: groove;
    border-width: 1px 1px 0 0;
    padding: .2rem; }
    table th:first-child, table td:first-child {
      border-left-width: 1px; }
  table > thead:last-child > tr:last-child > th, table > thead:last-child > tr:last-child > td, table > thead:last-child > th, table > thead:last-child > td, table > tbody:last-child > tr:last-child > th, table > tbody:last-child > tr:last-child > td, table > tbody:last-child > th, table > tbody:last-child > td, table > tfoot:last-child > tr:last-child > th, table > tfoot:last-child > tr:last-child > td, table > tfoot:last-child > th, table > tfoot:last-child > td, table > tr:last-child > tr:last-child > th, table > tr:last-child > tr:last-child > td, table > tr:last-child > th, table > tr:last-child > td {
    border-bottom-width: 1px; }
  table thead th:before {
    opacity: 1; }

.callout, [class*="callout-"] {
  background-color: #fff;
  border-color: #00000033;
  border-style: solid;
  border-width: 1px;
  margin: 1em 0 1em 25px;
  padding: .25rem;
  position: relative; }
  .callout.centered, [class*="callout-"].centered {
    left: 13px;
    margin: auto; }
  .callout:first-child, [class*="callout-"]:first-child {
    margin-top: 0; }
  .callout:before, [class*="callout-"]:before {
    border: 1px solid #00000033;
    content: '';
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    position: absolute;
    left: -25px;
    top: -1px;
    height: 100%;
    width: 24px; }
  .callout[class*="-book"], [class*="callout-"][class*="-book"] {
    background-color: #edfdfd; }
    .callout[class*="-book"] th, [class*="callout-"][class*="-book"] th {
      color: #083d3d; }
      .callout[class*="-book"] th:before, [class*="callout-"][class*="-book"] th:before {
        background-color: #e2fbfb;
        opacity: 1; }
    .callout[class*="-book"]:before, [class*="callout-"][class*="-book"]:before {
      background-color: #d7f9f9;
      background-image: var(--image-book); }
  .callout[class*="-combo"], [class*="callout-"][class*="-combo"] {
    background-color: #e5f3dd; }
    .callout[class*="-combo"] th, [class*="callout-"][class*="-combo"] th {
      color: #131f0b; }
      .callout[class*="-combo"] th:before, [class*="callout-"][class*="-combo"] th:before {
        background-color: #deefd3;
        opacity: 1; }
    .callout[class*="-combo"]:before, [class*="callout-"][class*="-combo"]:before {
      background-color: #d7ecca;
      background-image: var(--image-combo); }
  .callout[class*="-info"], [class*="callout-"][class*="-info"] {
    background-color: #edfdfd; }
    .callout[class*="-info"] th, [class*="callout-"][class*="-info"] th {
      color: #083d3d; }
      .callout[class*="-info"] th:before, [class*="callout-"][class*="-info"] th:before {
        background-color: #e2fbfb;
        opacity: 1; }
    .callout[class*="-info"]:before, [class*="callout-"][class*="-info"]:before {
      background-color: #d7f9f9;
      background-image: var(--image-info); }
  .callout[class*="-system"], [class*="callout-"][class*="-system"] {
    background-color: #fefaf2; }
    .callout[class*="-system"] th, [class*="callout-"][class*="-system"] th {
      color: #452f06; }
      .callout[class*="-system"] th:before, [class*="callout-"][class*="-system"] th:before {
        background-color: #fdf5e6;
        opacity: 1; }
    .callout[class*="-system"]:before, [class*="callout-"][class*="-system"]:before {
      background-color: #fcf0da;
      background-image: var(--image-system); }

table[class*="callout-"] {
  border: none;
  box-shadow: 1px 3px 3px #00000022, 3px 1px 3px #00000022;
  padding: 0; }
  table[class*="callout-"]:before {
    box-shadow: 0 3px 3px #00000033;
    border-right: none;
    border-radius: 5px 0 0 5px;
    height: calc(100% - 2px);
    top: 0; }

.layout.small .callout, .layout.small [class*="callout-"] {
  box-shadow: none;
  max-width: calc(100% - 30px); }
  .layout.small .callout:before, .layout.small [class*="callout-"]:before {
    box-shadow: none; }

.center {
  justify-content: center;
  text-align: center; }

.danger {
  border-color: #d76c6c;
  color: #c44; }

.dropshadow {
  box-shadow: 2px 2px 5px #d3d6db;
  box-shadow: 2px 2px 5px var(--color-shadow); }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.font-for-titles {
  font-family: var(--font-for-titles); }

.font-for-text {
  font-family: var(--font-for-text); }

.hidden {
  display: none !important; }

.highlight {
  background-color: #e2fbfb;
  color: #333;
  font-size: inherit; }

.input-wrapper {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  font-weight: bold;
  padding: 0 .25rem; }
  .input-wrapper > label {
    font-size: .8rem; }
  .input-wrapper > input {
    flex: 1; }

.info-box {
  box-shadow: 2px 2px 5px #d3d6db;
  box-shadow: 2px 2px 5px var(--color-shadow);
  background: var(--color-background);
  border: 2px solid var(--color-primary);
  box-shadow: 3px 3px 3px #00000033, 0 0.75em 0 var(--color-background), -0.75em 0 0 var(--color-background);
  clear: both;
  float: right;
  font-size: .9rem;
  margin: 0 0 1em 1em;
  position: relative;
  width: 275px;
  z-index: 1; }

table.info-box {
  border: 1px solid #00000022; }
  table.info-box th {
    color: #333333; }
    table.info-box th:before {
      background: #00000022; }
  table.info-box th, table.info-box td {
    border: 1px groove #00000033; }
  table.info-box img {
    width: 100%; }

.layout.small .info-box {
  float: none;
  margin: 0 0 1em 0;
  width: 100%; }

.inset {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  background-color: #565656;
  color: transparent;
  text-shadow: 1px 1px 2px #ffffffbb; }

.lightbox {
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  box-shadow: 3px 3px 3px #00000033;
  display: flex;
  flex-direction: column;
  padding: 5px; }
  .lightbox > .title {
    align-items: center;
    background: var(--color-primary);
    color: var(--color-primary-text);
    display: flex;
    font-weight: bold;
    margin: -5px -5px 5px -5px;
    padding: 8px; }
    .lightbox > .title > svg {
      margin-right: 5px; }

.loading {
  overflow: hidden; }
  .loading:after {
    align-items: center;
    background-color: #ffffffdd;
    color: #000000aa;
    content: 'Loading...';
    display: flex;
    font-style: italic;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  .row > * {
    margin: .25rem; }

.warning {
  align-items: center;
  background: var(--color-warning-bg);
  border-radius: 5px;
  border: 2px solid var(--color-warning);
  color: var(--color-warning-text);
  display: flex;
  margin: 0.5rem 0;
  padding: 5px; }
  .warning > svg {
    margin-right: .25rem; }

:root {
  --palette-beige:       #fdf5e6;
  --palette-blue-light:  #e2fbfb;
  --palette-blue-royal:  #08f;
  --palette-blue:        #42afe3;
  --palette-gold-dark:   #998100;
  --palette-gold:        #ffd700;
  --palette-gray-dark:   #333;
  --palette-gray-light:  #d3d6db;
  --palette-gray-medium: #999;
  --palette-green:       #97cd76;
  --palette-offwhite:    #f6f6f6;
  --palette-orange:      #e8720c;
  --palette-red:         #c44;
  --palette-white:       #fff;
  --color-bg-button:     #e9e9e9;
  --color-bg-inverse:    #42afe3;
  --color-bg-modal:      rgba(246, 246, 246, 0.75);
  --color-bg:            #f6f6f6;
  --color-book:          #e2fbfb;
  --color-border:        #42afe3;
  --color-combo:         #deefd3;
  --color-danger-bg:     #d76c6c;
  --color-danger-text:   white;
  --color-danger:        #c44;
  --color-highlight:     rgba(226, 251, 251, 0.5);
  --color-info:          #e2fbfb;
  --color-link-missing:  #c44;
  --color-link:          #08f;
  --color-shadow:        rgba(211, 214, 219, 0.75);
  --color-success:       #97cd76;
  --color-system:        #fdf5e6;
  --color-table-bg-even: #fff;
  --color-table-bg-odds: #f6f6f6;
  --color-text-inverse:  #f6f6f6;
  --color-text:          #333;
  --color-warning:       #ffd700;
  --color-warning-bg:    #fff7cc;
  --color-warning-text:  #ccac00; }

.user.search-box .search-result {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center; }
  .user.search-box .search-result > svg {
    height: 1.25rem;
    width: 1.25rem; }

.participants.lightbox {
  height: 250px;
  position: relative; }
  .participants.lightbox.loading:after {
    content: 'Updating...'; }
  .participants.lightbox .participant-list {
    list-style: none;
    margin: 0;
    max-width: calc(100% - 15px);
    padding: 5px; }
    .participants.lightbox .participant-list > .participant.row {
      justify-content: space-between;
      margin-bottom: .25rem; }
      .participants.lightbox .participant-list > .participant.row:last-child {
        margin-bottom: 0; }
      .participants.lightbox .participant-list > .participant.row > .nerd.icon {
        height: 2em;
        margin: 0 .25rem 0 0;
        width: 2em; }
      .participants.lightbox .participant-list > .participant.row > .display {
        align-items: center;
        display: flex;
        flex: 1;
        overflow: hidden; }
        .participants.lightbox .participant-list > .participant.row > .display > .name, .participants.lightbox .participant-list > .participant.row > .display > .username {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .participants.lightbox .participant-list > .participant.row > .display > .username {
          font-size: .8rem;
          margin-left: .5rem;
          opacity: .6; }
      .participants.lightbox .participant-list > .participant.row > .role {
        opacity: .5; }
      .participants.lightbox .participant-list > .participant.row > .remove.icon {
        cursor: pointer;
        opacity: .5; }
      .participants.lightbox .participant-list > .participant.row.added {
        background-color: rgba(151, 205, 118, 0.2);
        color: #62a23b; }
      .participants.lightbox .participant-list > .participant.row.updated {
        background-color: rgba(181, 245, 245, 0.5); }
      .participants.lightbox .participant-list > .participant.row.removed {
        background-color: rgba(204, 68, 68, 0.2);
        color: #862424;
        text-decoration: line-through; }
      .participants.lightbox .participant-list > .participant.row:hover > .role, .participants.lightbox .participant-list > .participant.row:hover > .remove.icon {
        opacity: 1; }
  .participants.lightbox > .user.search-box {
    margin: 5px 0 0 0; }
  .participants.lightbox > button.safe {
    margin: 5px; }

.layout.small .participants > .participant-list > .participant.row > .role, .layout.small .participants > .participant-list > .participant.row > .remove.icon {
  display: inline-block; }

.toggle {
  cursor: pointer;
  padding: 12px;
  height: 40px;
  width: 40px; }
  .toggle.on {
    color: #ffd700;
    stroke-width: 3px;
    stroke: #998100; }
  .toggle.off {
    color: #999; }
  .toggle.readonly {
    cursor: auto; }

.sheet-list .message {
  display: flex;
  justify-content: center; }

.sheet-list .filter {
  margin: .5rem .25rem .25rem;
  width: calc(100% - .5rem); }

.sheet-list .scrollable {
  height: 200px !important; }

.sheet-list table {
  box-shadow: none;
  margin: 5px auto 0;
  table-layout: fixed;
  width: calc(100% - 10px); }
  .sheet-list table td.properties {
    padding: 0;
    text-align: center;
    width: 52px; }
  .sheet-list table .toggle {
    cursor: auto;
    height: 15px;
    margin: 5px;
    padding: 0;
    vertical-align: middle;
    width: 15px; }
    .sheet-list table .toggle.on {
      color: #97cd76;
      stroke: none; }
    .sheet-list table .toggle.off {
      fill: #ddd;
      stroke: none; }

.campaign.search-box .search-result {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center; }
  .campaign.search-box .search-result > svg {
    height: 1rem;
    margin-right: .25rem;
    width: 1rem; }

.sources .source-list {
  margin: 5px;
  padding: 0; }

.sources .campaign.row > .display {
  flex: 1; }

.color-picker.input {
  align-items: center;
  flex: 1;
  height: 100%;
  justify-content: center;
  padding: .25rem;
  position: relative; }
  .color-picker.input > .swatch {
    height: 100%;
    width: 100%; }
  .color-picker.input > .github-picker {
    justify-content: center;
    left: 0;
    margin-top: 8px;
    position: absolute !important;
    right: 0;
    z-index: 1; }
  .color-picker.input.readonly > .swatch {
    cursor: auto; }


.theme-editor.lightbox > .title {
  margin-bottom: 5px; }

.theme-editor > .input-wrapper > label {
  font-weight: normal;
  padding: .5rem;
  text-align: right;
  width: 85px; }

.theme-editor > .input-wrapper > .search-box, .theme-editor > .input-wrapper > .display {
  margin: 0; }

.theme-editor > .input-wrapper .swatch {
  border: none;
  font-weight: bold; }

.theme-editor > .input-wrapper .primary > .swatch {
  color: var(--color-primary-text); }

.theme-editor > .input-wrapper.font-for-titles > label {
  font-size: 1rem;
  font-weight: bold; }

.error.page {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center; }
  .error.page > .status-code {
    border: none;
    border-right: 2px solid;
    margin: 0 .5em 0 0;
    padding: 0 .5em 0 0; }

.page {
  display: flex;
  flex-direction: column;
  position: relative; }
  .page > .generating {
    align-items: center;
    background: #ffffffee;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1; }
  .page > .title-bar {
    align-items: center;
    border-bottom-color: #42afe3;
    border-bottom-color: var(--color-primary);
    border-bottom: 1px solid;
    display: flex;
    flex-direction: row;
    font-family: var(--font-for-titles); }
    .page > .title-bar > .editable.title {
      align-items: center;
      display: flex;
      flex: 1;
      font-size: 2em;
      font-weight: bold;
      justify-content: flex-start;
      margin: 0;
      min-height: 50px;
      padding: 15px; }
      .page > .title-bar > .editable.title.default, .page > .title-bar > .editable.title.default > input {
        text-transform: capitalize; }
    .page > .title-bar > button {
      margin: 3px; }
    .page > .title-bar > .toggle.off {
      color: rgba(153, 153, 153, 0.5); }
    .page > .title-bar > .toggle.edit-mode.on {
      color: #97cd76;
      stroke: #97cd76;
      stroke-width: 5%; }
    .page > .title-bar > .toggle.in-navigation.on, .page > .title-bar > .toggle.secret.on {
      color: #97cd76;
      stroke: #4b7d2d;
      stroke-width: 5%; }
    .page > .title-bar > .toggle.favorite.on {
      stroke: #998100;
      stroke-width: 5%; }
    .page > .title-bar > .redirected-from {
      font-size: .7rem;
      padding: .2rem .5rem;
      opacity: .6; }
  .page > .contents {
    padding: 10px; }
  .page .source {
    font-size: .7rem;
    padding: 0 .5rem;
    opacity: .8; }

.layout.small .page > .title-bar > .title {
  font-size: 1.2em; }

.campaign.page > .contents > div {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: stretch; }
  .campaign.page > .contents > div > .column {
    display: flex;
    flex-direction: column;
    max-width: 100vw; }
    .campaign.page > .contents > div > .column > * {
      margin: 5px; }
  .campaign.page > .contents > div > .left.column {
    flex: 1; }
  .campaign.page > .contents > div > .right.column {
    min-width: 250px; }
    .campaign.page > .contents > div > .right.column > .participants > b:not(:first-child) {
      margin-top: .75rem; }
    .campaign.page > .contents > div > .right.column > .participants > .user-list {
      list-style: none;
      margin: 0;
      padding-left: .75rem;
      text-transform: capitalize; }

.layout.medium .campaign.page > .contents > div, .layout.small .campaign.page > .contents > div {
  display: block; }
  .layout.medium .campaign.page > .contents > div > .column, .layout.small .campaign.page > .contents > div > .column {
    flex: auto;
    width: 100%; }


/*# sourceMappingURL=styles.chunk.css.map*/