.search-box {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 5px;
  position: relative;

  > .search.icon {
    fill: #ccc;
    position: absolute;
    left: .5rem;
  }

  &:focus-within {
    > .search.icon {
      fill: currentColor;
    }
  }

  > input {
    padding-left: 1.5rem;
  }
}
