.search-box {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 5px;
  position: relative;

  > .search.icon {
    fill: #ccc;
    position: absolute;
    left: .75rem;
  }

  &:focus-within {
    > .search.icon {
      fill: currentColor;
    }
  }

  > .input {
    flex: 1;
    padding: .25rem .25rem .25rem 1.75rem;
    width: 100%;
  }

  > .search-results {
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid var(--color-primary);
    box-shadow: 3px 3px 3px #33333333;
    left: 0;
    line-height: 1.5rem;
    list-style: none;
    margin: -3px 8px;
    padding: .1rem;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 5;

    > .search-result {
      padding: .15rem;
      &[aria-selected="true"] {
        background: var(--color-system);
      }

      > .preview {
        font-size: .8rem;
      }
    }
  }
}
