@import '~@/styles/palette';

.header {
  align-items: center;
  background-color: white;
  background-color: var(--color-primary);
  border-bottom: 1px outset;
  box-shadow: 0px 2px 5px $color-shadow;
  box-shadow: 0px 2px 5px var(--color-shadow);
  color: black;
  color: var(--color-secondary);
  display: flex;
  justify-content: flex-start;
  min-height: 40px;
  width: 100%;

  > .logo {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    min-width: 150px;

    > .nerd, > .rage {
      font-size: 1.4em;
      text-shadow:
         1px  1px 0 rgba(255,255,255,.8),
        -1px  1px 0 rgba(255,255,255,.8),
         1px -1px 0 rgba(255,255,255,.8),
        -1px -1px 0 rgba(255,255,255,.8),
         1px  1px 3px #666,
        -1px  1px 3px #666,
         1px -1px 3px #666,
        -1px -1px 3px #666,
      ;
    }
    .nerd { color: #000; }
    .rage { color: #f00; }
  }
  > .navigation.toggle { order: 0; }
  > .search-box {
    order: 1;

    &:focus-within {
      ~ * { display: none; }
    }
  }
  > .user-menu { order: 2; }
}

.layout.small .header > .logo {
  display: none;
}
