.sheet-list {
	.message {
		display: flex;
		justify-content: center;
	}

	.filter {
		margin: 0.5rem 0.25rem 0.25rem;
		width: calc(100% - 0.5rem);
	}

	.scrollable {
		height: 200px !important;
	}

	table {
		box-shadow: none;
		margin: 5px auto 0;
		table-layout: fixed;
		width: calc(100% - 10px);

		td.properties {
			padding: 0;
			text-align: center;
			width: 52px;
		}

		.toggle {
			cursor: auto;
			height: 15px;
			margin: 5px;
			padding: 0;
			vertical-align: middle;
			width: 15px;

			&.on {
				color: #97cd76;
				stroke: none;
			}

			&.off {
				fill: #ddd;
				stroke: none;
			}
		}
	}
}
