.prompt.dialog {
  > .body {
    display: flex;
    flex-direction: column;

    > .text {
      max-width: 3000px;
      padding: .5rem;
    }
    > .input {
      display: flex;
      flex-direction: row;

      > input {
        flex: 1;
      }
    }
  }
}
