.info-box {
  @include dropshadow();

  background: var(--color-background);
  border: 2px solid var(--color-primary);
  box-shadow:
    3px 3px 3px #00000033,
     0 .75em 0 var(--color-background),
    -.75em 0 0 var(--color-background)
  ;
  clear: both;
  float: right;
  font-size: .9rem;
  margin: 0 0 1em 1em;
  position: relative;
  width: 275px;
  z-index: 1;
}

table.info-box {
  border: 1px solid #00000022;

  th {
    color: #333333;

    &:before {
     background: #00000022;
    }
  }

  th, td {
    border: 1px groove #00000033;
  }

  img {
    width: 100%;
  }
}

.layout.small {
  .info-box {
    float: none;
    margin: 0 0 1em 0;
    width: 100%;
  }
}
