@import '~@/styles/palette';

.participants {
  position: relative;

  &.loading:after {
    content: 'Updating...';
  }

  .participant-list {
    list-style: none;
    margin: 0;
    padding: 5px;

    > .participant.row {
      justify-content: space-between;
      margin-bottom: .25rem;

      > .nerd.icon {
        height: 2em;
        margin: 0 .25rem 0 0;
        width: 2em;
      }

      > .display {
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow: hidden;

        > .name, > .username {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        > .username {
          font-size: .8rem;
          opacity: .6;
        }
      }

      > .role { display: none; }
      > .remove.icon {
        cursor: pointer;
        display: none;
      }

      &.added {
        background-color: transparentize($color-safe, .8);
        color: darken($color-safe, 20%);
      }
      &.updated {
        background-color: darken($color-highlight, 10%);
      }
      &.removed {
        background-color: transparentize($color-danger, .8);
        color: darken($color-danger, 20%);
        text-decoration: line-through;
      }

      &:hover {
        > .role, > .remove.icon { display: inline-block; }
      }
    }
  }
  > .add-user {
    margin: 0;
  }
}

.layout.small {
  .participants > .participant-list > .participant.row {
    > .role, > .remove.icon { display: inline-block; }
  }
}
